pre code.hljs {
  display: block;
  overflow-x: auto;
  font-family: 'Generator', monospace;
  position: relative;
}
code.hljs {
  padding: 20px 2px;
}

.hljs ::selection,
.hljs::selection {
  background-color: #919191;
  color: rgb(0, 0, 0);
}

.hljs-comment {
  color: #6e6f72;
}
.hljs-tag {
  color: #87888b;
}
.hljs-operator,
.hljs-punctuation,
.hljs-subst {
  color: #a4a6a9;
}
.hljs-operator {
  opacity: 0.7;
}
.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
  @apply text-green-500 dark:text-cyan-400;
}
.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
  @apply text-blue-600 dark:text-purple-500;
}
.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
  @apply text-green-500 dark:text-cyan-400;
}
.hljs-strong {
  @apply font-bold text-green-600 dark:text-cyan-600;
}
.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
  @apply text-green-500 dark:text-cyan-400;
}
.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
  @apply text-orange-500 dark:text-amber-400;
}
.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
  @apply text-green-500 dark:text-cyan-400;
}
.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
  @apply text-cyan-400 dark:text-green-500;
}
.hljs-emphasis {
  @apply italic text-green-500 dark:text-cyan-400;
}
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  @apply text-green-500 dark:text-cyan-400;
}
.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: 700;
}
